<!DOCTYPE html>
<html>
<head>
    <title>Public Log Book</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Log Book</h1>

<a class="btn" href="/add">Add New Log</a>

<table>
    <tr>
        <th>DateTime</th>
        <th>Plant</th>
        <th>Shift</th>
        <th>Machine</th>
        <th>Department</th>
        <th>Person Attended</th>
        <th>Status</th>
        <th>Problem</th>
        <th>Action Taken</th>
        <th>Remarks</th>
        <th>Action</th>
    </tr>

    {% for sheet_row_number, row in rows_with_numbers %}
    <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
        <td>
            <a href="/delete/{{ sheet_row_number }}" onclick="return confirm('Delete this log?')">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>