<!DOCTYPE html>
<html>
<head>
    <title>Public Log Book</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Log Book</h1>

<a class="btn" href="/add">Add New Log</a>


<table>
    <tr>
        <th>DateTime</th>
        <th>Shift</th>
        <th>Machine</th>
        <th>Operator</th>
        <th>Status</th>
        <th>Problem</th>
        <th>Action Taken</th>
        <th>Remarks</th>
    </tr>

    {% for row in rows %}
<tr>
    {% for col in row %}
    <td>{{ col }}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>

</body>
</html>